<div class="container">

    <header>

        <h1>Todo List ({{taskStore.incompleteCount}})</h1>

        <label class="hide-completed">
            <input type="checkbox"
                   [checked]="hideCompleted"
                   (click)="onHideCompleted()"/>
            Hide Completed Tasks
        </label>

        <div>
            <login
                    *ng-if="!currentUser"
                    (login)="onLogin($event)"/>
        </div>

        <task-creator
                *ng-if="currentUser"
                [currentUser]="currentUser"
                (create)="onCreate($event)"/>

    </header>

    <task-list
            [currentUser]="currentUser"
            [tasks]="taskStore.list"
            (toggle-status)="onToggleStatus($event)"
            (toggle-visibility)="onToggleVisibility($event)"
            (remove)="onRemove($event)"/>

</div>
