<div class="container">

    <header>

        <h1>Todo List ({{incompleteCount}}) user={{state.currentUser?.name}}</h1>

        <label class="hide-completed">
            <input type="checkbox"
                   (click)="onToggleStatusFilter()"/>
            Hide Completed Tasks
        </label>

        <div>
            <login
                    *ng-if="!state.currentUser"
                    (login)="onLogin($event)"/>
        </div>

        <task-form
                *ng-if="state.currentUser"
                (create)="onCreate($event)"/>

    </header>

    <task-list
            [currentUser]="state.currentUser"
            [tasks]="filteredTodos"
            (toggle-status)="onToggleStatus($event)"
            (toggle-visibility)="onToggleVisibility($event)"
            (remove)="onRemove($event)"/>
</div>
